@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-image: url("../img/bodybg.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background image during scrolling */
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire viewport */

}

/* LOGIN */

/* Center the login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.card {
    background-color: rgb(255, 255, 255);
}

.btn1 {
    background-color: rgb(57, 57, 122);
}
/*                                                  */

/* REGISTER */

/* Center the registration form */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
/*                                                  */

/* INDEX.PHP, HOME_TECHNIQUE.PHP */

.centered-container {

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}